DATABASE_URL=mysql+pymysql://3jfTYcg9qFzDk43.root:<PASSWORD>@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/sys
SECRET_KEY=gati_secret_key_sih_2026_mayan_safe
ACCESS_TOKEN_EXPIRE_MINUTES=1440
ENV=development

# Cloudinary Configuration
CLOUDINARY_API_KEY=569737981981872
CLOUDINARY_API_SECRET=TpQm-JkWcqPn--7oeQWaUXoBA54

HF_TOKEN=your_huggingface_access_token_here
HUGGINGFACE_API_KEY=your_huggingface_access_token_here
